body {
    background-color: #FBE9D0;
    font-family: sans-serif,Arial, Helvetica;
    }
    h1 {
    color: #E64833;
    text-align: center;
    }
    h2{
        color: #244855;
        text-align: left;
    }